* {
    margin: 0px;
}

body {
    
    font-family: 'Merriweather Sans', sans-serif;
} 

h1 {
    margin-top: 50px;
    font-size: 562.5%;
    font-family: 'Sacramento', cursive; 
    color: #66bfbf;
    list-style: 1;
}

h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;
}

#name {
    background: linear-gradient(to bottom, #e4f9f5, transparent 100%);
    text-align: center;
    position: relative;
    padding-top: 100px;
    margin-bottom: 30px;
}

#cloud-top {
    position: absolute;
    top: 50px;
    right: 300px;
}

#cloud-down {
    position: absolute;
}

#imgc {
    position: relative;
    background-color: white;
}

.middle-container {
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}

h3,h4 {
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.techie {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.coding {
    width: 25%;
    border-radius: 60%;
    float: right;
    margin-left: 30px;
}

.profile {
    text-align: center;
    width: 25%;
    margin: 0px auto;
}

hr {
    border: none;
    border-bottom: 10px dotted gray;
    margin: 50px auto;
    width: 5%;
    
}

.contact-me {
    line-height: 2;
    margin-bottom: 30px;
}

.btn {
    border: 1px #094c4e solid;
    text-decoration: none;
    background-color: #094c4e;
    color: white;
    border-radius: 5px;
    padding: 7px 5px;
    transition: border 1s,
                text-decoration 1s, background-color 1s,
                padding 1s;
}

.btn:hover {
    border: 1px #094c4e solid;
    text-decoration: none;
    background-color: white;
    color: #094c4e;
    padding: 7px 5px;
}

#text {
    margin-bottom: 50px;
}

.bottom-container {
    background-color: #11999E;
    text-align: center;
    height: 5rem;
    padding-top: 50px;
}

.footer-link {
    color: #094c4e;
    margin-right: 30px;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

#copy {
    margin-top: 20px;
    color: white;
    font-size: 12px;
}